body, html {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
}

html {
	overflow: auto;
}

hr {
	border: none;
	background-color: #bbb;
	height: 1px;
}

h1 {
	margin: 0 0 9px 0;
	padding: 0.4em;
	font-size: 20px;
	color: rgba(0,0,0,0.4);
	background: #ddd url(../images/noise-bg.png);
	border-bottom: 1px solid #f9f9f9;
	box-shadow: 0 1px 1px #ddd, 0 1px 7px rgba(0,0,0,0.2) inset;
	text-shadow: 0 1px 0 #fff, 0 -1px 0 rgba(0,0,0,0.2);
}

td h3 {
	margin: 0;
	padding: 0;
	font-size: 18px;
}

#bundles-col {
	position: relative;
}

#bundles-container {
	width: 13em;
	position: absolute;
	top: 220px;
	left: -220px;
}

#pref-selector-container {
	margin-left: auto;
	margin-right: auto;
}

#time-q-col-from {
	padding-left: 0.5em;
}

#time-q-col-to {
	padding-left: 1.5em;
}

.time-q-heading {
	font-size: 90%;
	color: #666;
}

#control-area {
	text-align: center;
	background-color: #ddd;
	background: linear-gradient(to bottom, #ddd, #eee);
	border-top: 1px solid #f9f9f9;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	box-shadow: 0 -1px 0 #999;
}

#control-area button {
	font-size: 20px;
	padding: 9px 18px;
	border-radius: 8px;
	text-shadow: 0 -1px 0 #609070;
	background: linear-gradient(to bottom, #90dfa0, #309040);
	box-shadow: 0 0 1px #dfd inset, 0 2px 9px rgba(0,0,0,0.4);
	border: 1px solid #609070;
	color: #fff;
	cursor: pointer;
}

#control-area button:active {
	background: linear-gradient(to bottom, #55695f, #609070);
	color: #ddd;
}

.area-subset {
	border: 1px solid #aaa;
	background: #ddd url(../images/noise-bg.png);
	box-shadow: 0 0 1px 1px rgba(255,255,255,0.9) inset;
	padding: 0.2em;
	margin: 1px;
}

.area-subset h4 {
	margin: 0;
	padding: 2px;
	font-size: 10px;
	color: #666;
}

td fieldset {
	color: #333;
	font-size: 90%;
}

#pref-map-area {
	position: relative;
}

.jd-onmap-check {
	font-size: 10px;
	background-color: rgba(255,255,255,0.6);
	border: 1px solid rgba(255,255,255,0.8);
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	padding: 1px;
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
}

td:hover .jd-onmap-check {
	opacity: 1;
}

.selall-container {
	white-space: nowrap;
}
