body, html {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
}

h1 {
	margin: 0;
	padding: 0.4em;
	font-size: 22px;
	color: #777;
	background: linear-gradient(to bottom, #ccc, #e0e0e0, #e0e0e0);
	border-bottom: 1px solid #f9f9f9;
	box-shadow: 0 1px 1px #ddd, 0 1px 9px rgba(0,0,0,0.1) inset;
	text-shadow: 0 1px 0 #fff;
}

#time-q-col-from {
	padding-left: 0.5em;
}

#time-q-col-to {
	padding-left: 1.5em;
}

.time-q-heading {
	font-size: 90%;
	color: #666;
}