html {
	margin: 0;
	padding: 0;
	background: #eee linear-gradient(to bottom, #fff, #eee) repeat-x;
}

body {
	margin: 0;
	padding: 2px;
}

#preview-container {
	text-align: center;
	min-height:400px;
}

#preview-container canvas {
	border: 1px solid #888;
}

#main-control-box {
	text-align: center;
}

#record-trigger {
	font-family: sans-serif;
	font-size: 10px;
	padding: 3px 8px 2px 8px;
	color: #fff;
	background-color: #800;
	border: 1px solid #800;
	text-shadow: 0 -1px 0 #800;
	border-radius: 6px;
	box-shadow: 0 0 1px #fee inset, 0 1px 9px rgba(0,0,0, 0.3);
	background: linear-gradient(to bottom, #e20, #910);
}

#record-trigger:active {
	box-shadow: 0 1px 4px rgba(0,0,0,0.4) inset, 0 1px 9px rgba(0,0,0, 0.3);
	background: linear-gradient(to bottom, #510, #810);
}

#dl-container a {
	display: none;
	
	border: 1px solid #4a3;
	padding: 3px;
	font-size: 22px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	text-align: center;
	background: linear-gradient(to bottom, #7e6, #5b2) #5b2;
	text-decoration: none;
	box-shadow: 0 0 80px 14px rgba(0,0,0,0.6);
}

#dl-container {
	display: none;
	
	margin-top: 210px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}



.mm-options-spacer {
	margin-left: 1em;
	margin-right: 0.5em;
	border-left: 2px ridge #ccc;
}

.mm-movie-option-button {
	vertical-align: middle;
	cursor: pointer;
	background: linear-gradient(to bottom, #eee, #ccc) #eee;
	border: 1px solid #bbb;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.1) inset;
	margin-left: 2px;
}

.mm-movie-option-button:hover:active {
	background: linear-gradient(to bottom, #b4b4b4, #bcbcbc) #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
}

#movie-option-box {
	text-align: center;
	padding: 3px;
}

#movie-stats-box {
	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.6), rgba(0,0,0,0.6), rgba(0,0,0,0));
	color: #fff;
	padding: 3px 0;
	font-size: 10px;
	text-align: center;
}
