#mm-csv-preview-window {
	border-radius: 0;
	border: none;
}




table.mm-csv-preview-table {
	border-collapse: collapse;
}

table.mm-csv-preview-table td,
table.mm-csv-preview-table th {
	padding: 2px;
	border: 1px solid #777;
}

tr.ignored td {
	color: #aaa;
	background-color: #eee;
	text-decoration: line-through;
}

table.mm-csv-preview-table th {
	background: -webkit-gradient(linear, left top, left bottom, to(#ccc), from(#eee));
	color: #444;
	text-shadow: 0 1px 0 #eee;
}

.csv-preview-setting-h {
	padding: 4px 0;
	font-size: 90%;
	text-align: center;
	font-weight: bold;
	color: #555;
	text-shadow: 0 1px 0 #fff;
	background: -webkit-gradient(linear, left top, left center, to(#eee), from(#ddd));
}