.on-selection>div>div>div {
	cursor: crosshair !important;
}

.on-click-selection>div>div>div {
	cursor: default !important;
}
.onmap-button-image:active {
	padding-top: 1px;
}

#onmap-gateui-expression {
	border: 1px solid rgba(200,200,200,0.5);
	background: rgba(0,0,0,0.7);
	box-shadow: 0 1px 4px rgba(0,0,0,0.6), 0 0 2px #000 inset;
	color: #fff;
	padding: 24px 2px 2px 2px;
	border-radius: 4px;
	min-width: 111px;
	text-align: center;
	white-space: nowrap;
}
