.mm-ann-view-item-box {
	border: 1px solid #888;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	margin-bottom: 3px;
}

.mm-ann-view-item-box h3 {
	font-size: 11px;
	margin: 1px;
	padding: 2px;
	background: linear-gradient(to bottom, #eee, #ccc);
	border-bottom: 1px solid #ccc;
}

.mm-ann-desc {
	margin: 2px;
}

.mm-ann-content {
	font-size: 80%;
	margin: 2px;
	color: #888;
}

.mm-ann-view-item-control {
	text-align: right;
	padding: 2px;
}

.mm-ann-desc {
	cursor: text;
}

.mm-ann-desc:hover {
	background-color: #eee;
	box-shadow: 0 1px 2px #999 inset;
}

input.mm-ann-inline-edit {
	display: none;
}
