div[data-itemname=data_detail] {
	overflow-x: hidden;
	overflow-y: auto;
}

.mm-datatable-title {
	display: block;
	padding: 0.25em;
	margin: 0;
}

.mm-data-view-target-selector-label {
	display: block;
	padding: 0.25em;
}

.mm-datatable-collapse-warning {
	background: linear-gradient(to bottom, #fea, #dc8) #fea;
	border-top: 1px solid #cb7;
	border-bottom: 1px solid #cb7;
	padding: 3px;
	color: #000;
	cursor: pointer;
}

.mm-datatable-collapse-warning:hover:active {
	background: linear-gradient(to bottom, #ba6, #cb7) #cb7;
}

.k-detail-row>td {
	text-align: right;
	background: linear-gradient(to bottom, #fcfcfc, #fbfbfb, #eee) #eee;
	box-shadow: 0 -1px 2px -1px #000 inset;
}

.mm-detail-row-command-button,
.mm-ann-view-command-button,
.mm-datatable-ontitle-button {
	vertical-align: middle;
	cursor: pointer;
	background: linear-gradient(to bottom, #eee, #ccc) #eee;
	border: 1px solid #bbb;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.1) inset;
	margin-left: 2px;
}

.mm-detail-row-command-button:hover:active,
.mm-ann-view-command-button:hover:active,
.mm-datatable-ontitle-button:hover:active {
	background: linear-gradient(to bottom, #b4b4b4, #bcbcbc) #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
}

.mm-datatable-detail-mini-info {
	border-bottom: 1px solid #ccc;
	text-align: left;
	margin-bottom: 2px;
}

.mm-query-expression-input {
	display: block;
	width: 95%;
}

.mm-query-expression-buttons-container {
	display: block;
	text-align: right;
}

.mm-info-pane-box[data-itemname=data_detail] .mm-expandable-panel-expanded {
	background-color: #eee;
	box-shadow: 0 -1px 4px #999 inset;
}

.mm-datatable-title-container {
	position: relative;
	padding-right: 20px;
}

.mm-datatable-title-container img {
	position: absolute;
	top: 0;
	right: 2px;
}

.mm-datatable-title-container img.mm-datatable-ontitle-button-i2 {
	right: 25px;
}

.mm-polygon-gate-table,
.mm-polygon-gate-table td {
	border: none;
}

.mm-polygon-gate-table td { padding: 1px; }

.mm-polygon-gate-table button {
	border: 1px solid #444;
	box-shadow: 0 1px 1px rgba(255,255,255,0.5) inset, 0 -1px 1px rgba(0,0,0,0.25);
	background: linear-gradient(to bottom, #aaa, #777) #999;
	color: #fff;
	min-height: 3em;
	min-width:95%;
}

.mm-polygon-gate-table button:active {
	box-shadow: 0 1px 4px rgba(0,0,0,0.5) inset, 0 -1px 1px rgba(0,0,0,0.25);
	background: linear-gradient(to bottom, #666, #888) #777;
}

.mm-polygon-gate-table input[disabled] {
	opacity: 0.5;
}

.mm-drow-gate-option-box {
	position: relative;
	margin: 2px;
	border: 1px solid #888;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	background: linear-gradient(to bottom, #ddd, #bbb) #ccc;
	padding: 2px;
	text-align: center;
}

.mm-drow-option-a {
	position: absolute;
	top: -6px;
	right: 1px;
}

.mm-export-result-link {
	display: block;
	margin-top: 3px;
	padding: 2px;
	font-size: 14px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
	border: 1px solid #4a3;
	background: linear-gradient(to bottom, #7e6, #5b2) #5b2;
	text-decoration: none;
}

.mm-export-result-link:active {
	background: none #5b2;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset;
}

.mm-export-wait-indicator {
	display: block;
	margin-top: 3px;
	border: 1px solid #888;
	padding: 2px;
	font-size: 14px;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	color: #888;
	text-align: center;
	background-color: #ddd;
}

.mm-export-triggers-container {
	margin-top: 3px;
	text-align: center;
}

.mm-addattrform-label {
	display: block;
}

.mm-addattrform-button-container {
	padding: 1px;
	text-align: right;
}

.mm-addattrform-button-container button {
	padding-left: 1em;
	padding-right: 1em;
}
