div[data-itemname=data_detail] {
	overflow-x: hidden;
	overflow-y: auto;
}

.mm-datatable-title {
	display: block;
	padding: 0.25em;
	margin: 0;
}

.mm-data-view-target-selector-label {
	display: block;
	padding: 0.25em;
}

.mm-datatable-collapse-warning {
	background: linear-gradient(to bottom, #fea, #dc8) #fea;
	border-top: 1px solid #cb7;
	border-bottom: 1px solid #cb7;
	padding: 3px;
	color: #000;
	cursor: pointer;
}

.mm-datatable-collapse-warning:hover:active {
	background: linear-gradient(to bottom, #ba6, #cb7) #cb7;
}

.k-detail-row>td {
	text-align: right;
	background: linear-gradient(to bottom, #fcfcfc, #fbfbfb, #eee) #eee;
	box-shadow: 0 -1px 2px -1px #000 inset;
}

.mm-detail-row-command-button,
.mm-ann-view-command-button,
.mm-datatable-ontitle-button {
	vertical-align: middle;
	cursor: pointer;
	background: linear-gradient(to bottom, #eee, #ccc) #eee;
	border: 1px solid #bbb;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.1) inset;
	margin-left: 2px;
}

.mm-detail-row-command-button:hover:active,
.mm-ann-view-command-button:hover:active,
.mm-datatable-ontitle-button:hover:active {
	background: linear-gradient(to bottom, #b4b4b4, #bcbcbc) #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
}

.mm-datatable-detail-mini-info {
	border-bottom: 1px solid #ccc;
	text-align: left;
	margin-bottom: 2px;
}

.mm-query-expression-input {
	display: block;
	width: 95%;
}

.mm-query-expression-buttons-container {
	display: block;
	text-align: right;
}

.mm-info-pane-box[data-itemname=data_detail] .mm-expandable-panel-expanded {
	background-color: #eee;
	box-shadow: 0 -1px 4px #999 inset;
}

.mm-datatable-title-container {
	position: relative;
	padding-right: 20px;
}

.mm-datatable-title-container img {
	position: absolute;
	top: 0;
	right: 2px;
}
