.mm-info-pane-box.welcome {
	background: url(../images/noise-dark.png);
	box-shadow: 0 1px 3px rgba(0,0,0,0.4) inset;
}

.mm-info-pane-box.welcome .k-menu {
	display: none;
}

#mm-layers-welcome {
	top: 5%;
	position: relative;
	text-align: center;
	background: linear-gradient(to bottom, #ddd, #bbb, #ccc, #aaa);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), 0 3px 3px rgba(255,255,255,0.3) inset, 0 1px 1px #fff inset;
	border: 1px solid #999;
	border-radius: 10px;
	padding: 5% 2px;
	margin-left: auto;
	margin-right: auto;
	max-width: 210px;
}

#mm-layers-welcome h2 {
	margin: 0 -4px 1px -4px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #eee;
	border-left: 2px solid #3055bf;
	border-right: 2px solid #3055bf;
	background: linear-gradient(to bottom, #204099, #3055bf);
	color: #fff;
	font-size: 11px;
	padding: 3px 0;
}

.mm-welcome-heading {
	margin-top: 0.5em;
	font-size: 90%;
}

.mm-welcome-box-action {
	background: #eee left center no-repeat;
	min-height: 30px;
	padding: 2px 2px 2px 33px;
	border: 1px solid #999;
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3), 0 -1px 3px rgba(0,0,0,0.3) inset;
	max-width: 144px;
	margin: 2px auto;
	cursor: pointer;
}

.mm-welcome-box-action:active {
	background-color: #ccc;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.mm-welcome-box-action span {
	font-size: 11px;
	display: block;
}

.mm-welcome-box-action span:first-child {
	font-size: 13px;
}

.mm-layer-view-item-box {background-color: rgba(255,255,255,0.8);}

.mm-layer-view-item-box h3 {
	font-size: 11px;
	margin: 1px;
	padding: 2px;
	background: linear-gradient(to bottom, #eee, #ccc);
	border-bottom: 1px solid #ccc;
	position: relative;
}

.mm-layer-delete-button {
	position: absolute;
	top: 1px;
	right: 0;
	cursor: pointer;
	opacity: 0.8;
}

.layer-visibility-toggle {
	position: absolute;
	top: 1px;
	right: 18px;
	cursor: pointer;
	background: url(../images/eyes.png) no-repeat top left;
}

.mm-layer-down-button {
	position: absolute;
	top: 1px;
	right: 36px;
	cursor: pointer;
	opacity: 0;
}

.mm-layer-up-button {
	position: absolute;
	top: 1px;
	right: 53px;
	cursor: pointer;
	opacity: 0;
}

.mm-layer-view-item-box:hover .mm-layer-down-button { opacity: 0.7; }
.mm-layer-view-item-box:hover .mm-layer-down-button:active { opacity: 1; }
.mm-layer-view-item-box:hover .mm-layer-up-button { opacity: 0.7; }
.mm-layer-view-item-box:hover .mm-layer-up-button:active { opacity: 1; }


.layer-visibility-toggle.selected {
	background-position: top right;
}

.mm-layer-delete-button:active {
	opacity: 1;
}

.mm-layer-view-item-box:hover .mm-layer-goup-button,
.mm-layer-view-item-box:hover .mm-layer-godown-button {
	visibility: visible;
}

.mm-layer-view-item-box h4 {
	color: #444;
	font-size: 10px;
	font-weight: normal;
	margin: 1px;
	padding: 2px;
	border-bottom: 1px solid #ccc;
}

.mm-layer-view-item-box .mm-expandable-panel-outer {
	margin: 1px;
	border: 1px solid #999;
}

.mm-layer-view-item-box .mm-expandable-panel-heading {
	background: #fff url(../images/expand-mark.png) 0 0 no-repeat;
	box-shadow: 0 -2px 1px #eee inset;
	cursor: pointer;
	font-size: 9px;
	padding: 2px 2px 2px 13px;
}

.mm-layer-view-item-box .expanded .mm-expandable-panel-heading {
	background: #fff url(../images/expand-mark.png) 0 -24px no-repeat;
}

.expanded .mm-expandable-panel-closed {display: none;}
.mm-expandable-panel-expanded {display:none;}
.mm-layer-view-item-box .expanded .mm-expandable-panel-expanded {
	display: block;
}

.mm-layer-view-item-box .mm-expandable-panel-closed {
	padding: 3px;
}

.mm-layer-view-item-box .mm-expandable-panel-expanded {
	padding: 3px;
}

.mm-layer-loading-label {
	font-size: 10px;
	margin: 0;
	padding: 1px;
	color: #444;
	text-align: center;
}

.mm-layer-view-item-box {
	border: 1px solid #888;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3);
	margin-bottom: 3px;
}

.mm-layer-view-item-box .mm-mini-progress-bar {
	margin: 2px auto 4px;
}

.mm-marker-preview-canvas {
	background-color: #444;
	border: none;
	box-shadow: 0 0 3px 2px #fff inset;
}

.mm-marker-result-canvas {
	background-color: #444;
	border: 1px solid #ccc;
}

label.varytypeopt {
	display: block;
}


.mm-layer-delete-dialog-buttons {
	margin: 0.8em 0 0 0;
	text-align: center;
}

.mm-layer-delete-dialog-buttons button {
	margin: 0 9px;
}

.mm-layer-view-selection-count {
	background: #888 url('../images/mini-cursor-icon.png') no-repeat 2px 1px;
	color: #fff;
	border-radius: 10px;
	height: 12px;
	font-size: 10px;
	padding: 1px 4px 1px 14px;
	margin-left: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3) inset;
}

.mm-gradient-val-range-slider {
	width: 70px;
	display: table-cell;
	vertical-align: middle;
}

.mm-gradient-val-range-control-box {
	display: table;
}

.mm-gradient-val-range-control-box > div {
	display: table-cell;
	min-width: 110px;
	font-size: 10px;
	vertical-align: middle;
}

.mm-range-gradient-param {
	display: block;
	width: 120px;
}

.mm-gradient-param-col {
	text-align: center;
}

.mm-gradient-preset-sample-label {
	display: block;
}

.mm-mesh-style-check-label {
	margin-right: 1em;
}

.mm-typhoon-marker-option-label {
	display: block;
}

.mm-explore-type-radio-label {
	display: block;
}