
.mm-tool-layout {
	border-collapse: collapse;
	width: 100%;
}

.mm-tool-layout td{
	border: none;
	padding: 0;
	margin: 0;
}

.mm-tool-layoutcell-controls {
	min-width: 115px;
	width: 115px;
	background: linear-gradient(to bottom, #eee, #ccc);
}

.mm-tool-layoutcell-timedisp {
	min-width: 100px;
	width: 100px;
	background-color: #222;
	background: linear-gradient(to bottom, #444, #666);
	box-shadow: 0 1px 14px #222 inset;
}

.mm-timeline-date-disp {
	font-family: monospace;
	color: #eee;
	font-size: 9px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-shadow: 0 2px 0 #000;
	margin-bottom: -1px;
}

.mm-timeline-time-disp {
	font-family: monospace;
	color: #eee;
	font-size: 11px;
	font-weight: bold;
	display: block;
	text-align: center;
	text-shadow: 0 2px 0 #000;
}

.mm-tl-buttons-container {
	text-align: center;
}

#tools-pane .toolbutton-separated {
	margin-left: 3px;
}

.mm-tl-playoption-container input[type=range] {
	height: 8px;
	width: 70px;
}

.mm-tl-playoption-container {
	text-align: center;
	padding: 0 8px;
}